<div class="row">
	<div class="col s12 page-title">
		Scorecard
	</div>
</div>

<div class="row">
	<div  class="col s12 m6 l6 section">
		<div class="container">
			<div class="row">
				<div class="col s12 section-title">
					Site Performance
				</div>
				<div class="col s12 section-chart">
					<%= bar_chart @perfdata, stacked: true %> 
				</div>
			</div>
		</div>
	</div>
	<div  class="col s12 m6 l6 section">
		<div class="container">
			<div class="row">
				<div class="col s12 section-title">
					Tickets
				</div>
				<div class="col s12 section-chart">
					<%= bar_chart @tickets.group(:severity).count %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div  class="col s12 m6 l6 section">
		<div class="container">
			<div class="row">
				<div class="col s12 section-title">
					Code Coverage
				</div>
				<div class="col s12 section-chart">
					<%= bar_chart @perfstats, stacked: "percent" %> 
				</div>
			</div>
		</div>
	</div>
	<div  class="col s12 m6 l6 section">
		<div class="container">
			<div class="row">
				<div class="col s12 section-title">
					3rd Party Tags
				</div>
				<div class="col s12">
					<ul class="section-data">
						<li><strong>CA: </strong>127
						<li><strong>US: </strong>212
						<li><strong>MX: </strong>314
						<li><strong>FR: </strong>456
						<li><strong>DE: </strong>712
						<li><strong>IT: </strong>123
						<li><strong>UK: </strong>215
						<li><strong>JP: </strong>149
						<li><strong>CN: </strong>365
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div  class="col s12 section">
		<div class="container">
			<div class="row">
				<div class="col s12 section-title">
					On Call
					<hr/>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<ul class="section-data">
						<li><strong>Team 1: </strong>Person
						<li><strong>Team 2: </strong>Person
						<li><strong>Team 3: </strong>Person 
					</ul>
				</div>
				<div class="col s6">
					<ul class="section-data">
						<li><strong>Team 4: </strong>Person
						<li><strong>Team 5: </strong>Person
						<li><strong>Team 6: </strong>Person
					</ul> 
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div  class="col s12 m6 l6 section">
		<div class="container">
			<div class="row">
				<div class="col s12 section-title">
					Business Priorities
				</div>
				<div class="col s12">
					<ul class="section-data">
						<li><strong>1. </strong>Make Money
						<li><strong>2. </strong>Sell More
						<li><strong>3. </strong>Get customers
						<li><strong>4. </strong>Hire people
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div  class="col s12 m6 l6 section">
		<div class="container">
			<div class="row">
				<div class="col s12 section-title">
					Tech Priorities
				</div>
				<div class="col s12">
					<ul class="section-data">
						<li><strong>1. </strong>Performance 
						<li><strong>2. </strong>Paintball
						<li><strong>3. </strong>Tech Debt cleanup
						<li><strong>4. </strong>Fun
						<li><strong>5. </strong>Team outings
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div><%= link_to 'Info', details_path %></div> 