<div class="row">
	<div class="col s12 page-title">
		Premium Scorecard
	</div>
</div>

<div class="row">
	<div  class="col s6 section">
		<div class="container">
			<div class="row">
				<div class="col s12 section-title">
					Site Performance
				</div>
				<div class="col s8 section-chart">
					chart
				</div>
				<div class="col s4 section-stats">
					numbers
				</div>
			</div>
		</div>
	</div>
	<div  class="col s6 section">
		<div class="container">
			<div class="row">
				<div class="col s12 section-title">
					Tickets
				</div>
				<div class="col s8 section-chart">
					chart
				</div>
				<div class="col s4 section-stats">
					numbers
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div  class="col s6 section">
		<div class="container">
			<div class="row">
				<div class="col s12 section-title">
					Code Coverage
				</div>
				<div class="col s8 section-chart">
					chart
				</div>
				<div class="col s4 section-stats">
					numbers
				</div>
			</div>
		</div>
	</div>
	<div  class="col s6 section">
		<div class="container">
			<div class="row">
				<div class="col s12 section-title">
					3rd Party Tags
				</div>
				<div class="col s6 section-chart">
					stats part 1
				</div>
				<div class="col s6 section-stats">
					stats part 2
				</div>
			</div>
		</div>
	</div>
</div>