<div class="row">
	<div class="col s12">
		[ <a href="/teams">Team Page</a> | 
		<a href="/squads">Squad Page</a> | 
		<a href="/tictactoe">Game</a> | 
		<a href="/peeps">People</a>]
	</div>
</div>

<div class="row">
	<div class="col s12">
		<button onclick="checkCookie()">toggleCookie</button>
 		<button onclick="deleteCookie()">deleteCookie</button>
 	</div>
</div>