
[ <a href="/teams">Team Page</a> | 
<a href="/squads">Squad Page</a> | 
<a href="/tictactoe">Game</a> | 
<a href="/peeps">People</a>]

<br/>
[ <button onclick="checkCookie()">toggleCookie</button> | 
 <button onclick="deleteCookie()">deleteCookie</button> ]