.team-name {
	font-size: large;
	font-weight: bold;
	color: navy;
	text-align: center;
	line-height: 100px;
}

.team-body-head {
	font-weight: bold;
	display: table-cell;
}

.team-body-text {
	display: table-cell;
	padding-left: 5px;
}