<div class="container header">
  <div class="row">
    <div class="col m8">
      <h2>This is the header</h2>
    </div>
    <div class="col m4">
      [ <a href="#">Sign Up</a> | 
        <a href="#">Log In</a> ]
    </div>
  </div>
</div>